- Hacer una exploración inicial del dataframe.

    - ¿Cuántas filas tiene?

    - ¿Cuántas nulos tiene?

    - ¿Y duplicados?

    - ¿Qué tipo de datos tenemos en el dataframe?etc.


- Plantead una serie de preguntas como las que fuimos contestando en la clase invertida.

- Contestad a las preguntas planteadas usando los principales estadísticos que hemos aprendido y gráficas que mejor se ajusten.

In [2]:
import pandas as pd 
import seaborn as sns
import numpy as np
from scipy.stats import skew
import scipy.stats as st
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('imdb_top_1000.csv')

In [30]:
df.head(2)

,poster_link,series_title,released_year,certificate,runtime,genre,imdb_rating,overview,meta_score,director,star1,star2,star3,star4,no_of_votes,gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"

In [63]:
df['star1'].value_counts

<bound method IndexOpsMixin.value_counts of 0            Tim Robbins
1          Marlon Brando
2         Christian Bale
3              Al Pacino
4            Henry Fonda
             ...
995       Audrey Hepburn
996     Elizabeth Taylor
997       Burt Lancaster
998    Tallulah Bankhead
999         Robert Donat
Name: star1, Length: 1000, dtype: object>

In [25]:
df.info() # sacamos la información pricipal: tipo de datos, columnas, nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster_link    1000 non-null   object
 1   series_title   1000 non-null   object
 2   released_year  1000 non-null   object
 3   certificate    899 non-null    object
 4   runtime        1000 non-null   object
 5   genre          1000 non-null   object
 6   imdb_rating    1000 non-null   float64
 7   overview       1000 non-null   object
 8   meta_score     843 non-null    float64
 9   director       1000 non-null   object
 10  star1          1000 non-null   object
 11  star2          1000 non-null   object
 12  star3          1000 non-null   object
 13  star4          1000 non-null   object
 14  no_of_votes    1000 non-null   int64
 15  gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [24]:
columnas_nuevas = {col:col.lower() for col in df.columns}
df.rename(columns=columnas_nuevas, inplace= True)

In [12]:
print(f'El DataFrame tiene {df.size } filas')

El DataFrame tiene 16000 filas

In [15]:
print(f'El DataFrame tiene {df.duplicated().sum() } duplicados')

El DataFrame tiene 0 duplicados

Preguntas: - Qué año se han estrenado más película?
           - Películas con mejor y peor valoración 
           - Valoración media de las películas comedia
           - Película más valorada de la actriz 
           - Relación de la películas entre la valoración y la recaudación
           - Relación de tiempo ded duración de la pelicula y directores

In [27]:
año = df['released_year'].mode()[0]
print( f'En el {año} se estrenaron más películas')

En el 2014 se estrenaron más películas

In [37]:
mejor_rating = df['imdb_rating'].max()
mejor_pelicula = df[df['imdb_rating']==mejor_rating]['series_title'][0]
mejor_rating
print(f'La mejor película es {mejor_pelicula} con una puntuacion de {mejor_rating}')

La mejor película es The Shawshank Redemption con una puntuacion de 9.3

In [51]:
peor_rating = df['imdb_rating'].min()
print(f'Las películas peor valoradas tienen  una puntuacion de {peor_rating}')

Las películas peor valoradas tienen  una puntuacion de 7.6

In [62]:
comedia= df[df['genre']=='Comedy']
media_comedia = comedia['imdb_rating'].mean()
mediana_comedia = comedia['imdb_rating'].median()
moda_comedia = comedia['imdb_rating'].mode()[0]
print(f' La media de las peliculas de género comedia es: {media_comedia}, la mediana es {mediana_comedia} y la moda es {moda_comedia}')

 La media de las peliculas de género comedia es: 7.823076923076924, la mediana es 7.7 y la moda es 7.7

In [66]:
peliculas_Hepburn = df[df['star1'] =='Audrey Hepburn']
peliculas_Hepburn

,poster_link,series_title,released_year,certificate,runtime,genre,imdb_rating,overview,meta_score,director,star1,star2,star3,star4,no_of_votes,gross
700,https://m.media-amazon.com/images/M/MV5BMTQyNT...,Wait Until Dark,1967,NaN,108 min,Thriller,7.8,A recently blinded woman is terrorized by a tr...,81.0,Terence Young,Audrey Hepburn,Alan Arkin,Richard Crenna,Efrem Zimbalist Jr.,27733,"17,550,741"
703,https://m.media-amazon.com/images/M/MV5BNGM0ZT...,My Fair Lady,1964,U,170 min,"Drama, Family, Musical",7.8,Snobbish phonetics Professor Henry Higgins agr...,95.0,George Cukor,Audrey Hepburn,Rex Harrison,Stanley Holloway,Wilfrid Hyde-White,86525,"72,000,000"
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN

7.7