In [1]:
import pandas as pd

1. Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

In [2]:
adicional = pd.read_csv('attacks_adicional.csv', index_col = 0)
adicional.head()

,Case Number,Fatal (Y/N),Injury,Date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,2018.06.08,N,Minor injury to lower leg,08-Jun-2018
4,2018.06.04,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018

In [3]:
adicional.columns

Index(['Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

In [4]:
historico = pd.read_csv('attacks_historico.csv',index_col=0)
historico.head(2)

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN

In [5]:
historico.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
attacks4 = pd.read_csv('attacks_pandas4.csv', index_col = 0)
attacks4.head(2)

,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo
case_number,,,,,,,,,,,,,
2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [7]:
attacks4.columns

Index(['year', 'type', 'country', 'area', 'location', 'activity', 'name',
       'sex_', 'age', 'time', 'species_', 'href', 'siglo'],
      dtype='object')

2. Chequead que los nombres de las columnas ver si se llaman iguales entre dataframes . ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

In [8]:
nuevas_columnas = {col:col.lower().replace(' ','_') for col in adicional.columns}
adicional.rename(columns = nuevas_columnas,inplace = True)
adicional.head(2)

,case_number,fatal_(y/n),injury,date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018

In [9]:
nuevas_columnas1 = {col:col.lower().replace(' ','_') for col in historico.columns}
historico.rename(columns = nuevas_columnas1,inplace = True)
historico.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [10]:
historico.drop(['unnamed:_22','unnamed:_23','case_number.1','case_number.2','original_order','investigator_or_source','pdf','href_formula'],axis =1, inplace = True)

In [11]:
historico.set_index('case_number',inplace = True)

In [12]:
attacks4.columns

Index(['year', 'type', 'country', 'area', 'location', 'activity', 'name',
       'sex_', 'age', 'time', 'species_', 'href', 'siglo'],
      dtype='object')

In [13]:
attacks4.drop('siglo', axis = 1, inplace = True) # eliminamos la columna 'siglo' para que queden igual

In [14]:
attacks4.columns

Index(['year', 'type', 'country', 'area', 'location', 'activity', 'name',
       'sex_', 'age', 'time', 'species_', 'href'],
      dtype='object')

In [15]:
historico.columns

Index(['year', 'type', 'country', 'area', 'location', 'activity', 'name',
       'sex_', 'age', 'time', 'species_', 'href'],
      dtype='object')

In [16]:
concat_historico_attacks = pd.concat([historico,attacks4], axis = 0)
concat_historico_attacks.head()

,year,type,country,area,location,activity,name,sex_,age,time,species_,href
case_number,,,,,,,,,,,,
1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [17]:
concat_historico_attacks.size

20064

In [18]:
historico.size + attacks4.size == concat_historico_attacks.size 
# Comprobamos que se ha unido viendo que tienen el mismo size

True

4. Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. 
Debatid que método es el más correcto para unir toda esta información y ejecutadlo.

📌 NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinará el tipo de unión.

In [20]:
adicional.set_index('case_number',inplace = True) # Convertimos a índice la columna case_number para hacer el join

In [21]:
joins = concat_historico_attacks.join(adicional, on ='case_number')

In [28]:
joins.head()

,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
case_number,,,,,,,,,,,,,,,
1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800
1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797
1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792
1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, ""bitten in two""",1791
1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupants, shark bit oar and rudder",10-May-1788

5.Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming

In [29]:
joins.to_csv('attacks_pandas_5.csv')