In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
df = pd.read_csv('attacks_pandas_5.csv')
df.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date
0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800
1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797
2,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792
3,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, ""bitten in two""",1791
4,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupants, shark bit oar and rudder",10-May-1788

1. Cread una columna nueva y una funci√≥n que nos de el mes en el que ocurri√≥ el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. En ese caso devolved un nulo (NaN).
üí° Pista üí°Pod√©is usar regex.

In [3]:
df['date'].unique # sacamos los valores √∫nicos

<bound method Series.unique of 0                       1800
1       Reported May-28-1797
2                12-Sep-1792
3                       1791
4                10-May-1788
                ...
1667             30-Jul-1901
1668             28-Nov-1894
1669             02-Mar-1892
1670             25-Nov-1880
1671             13-May-1868
Name: date, Length: 1672, dtype: object>

In [4]:
fecha1 = '30-Jul-1901' # sacamos a variable alg√∫na fecha para hacer patr√≥n y comprobaciones
fecha2 = 'Reported May-28-1797'

In [5]:
patron = '.*(\D{3})-.' # definimos el patr√≥n de regex para localizar el mes
re.findall(patron,fecha2)

['May']

In [6]:
# definimos la funci√≥n para encontrar el mes
def mes(col):
    patron = '.*(\D{3})-.'   
    try :
        mes = re.findall(patron,col)
        return mes[0]
    except:
        return np.nan

In [7]:
# definimos la columna nueva y aplicamos apply 
df['month']= df['date'].apply(mes)

In [8]:
df['month'].unique() # obtenemos los valores √∫nicos para comprobar que nos devuelve lo que buscamos

array([nan, 'May', 'Sep', 'Jul', 'Aug', 'Dec', 'Mar', 'Oct', 'Apr', 'Jan',
       'Jun', 'Feb', 'Nov'], dtype=object)

In [9]:
df.head()

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,fatal_(y/n),injury,date,month
0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, all onboard were killed by sharks",1800,NaN
1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,FATAL,Reported May-28-1797,May
2,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, PROVOKED INCIDENT",12-Sep-1792,Sep
3,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,Y,"FATAL, ""bitten in two""",1791,NaN
4,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,N,"No injury to occupants, shark bit oar and rudder",10-May-1788,May

2. Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. Esperar√≠amos tener solo dos valores: y y n, pero tristemente no ser√° as√≠ üò≠. Cread una columna nueva y una funci√≥n que devuelva √∫nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [10]:
df['fatal_(y/n)'].unique() #comprobamos los valores que tenemos para "fatal_s/n"

array(['Y', 'N', nan, 'UNKNOWN', 'M', '2017', ' N'], dtype=object)

In [11]:
#definimos la funci√≥n 
def limpieza_fatal(col):
    try:
        col = col.strip().replace("M","N")
    except:
        pass
    if col != 'Y' and col != 'N':
        col = np.nan
    return col

In [12]:
df['fatal']=df['fatal_(y/n)'].apply(limpieza_fatal) # aplicamos la funci√≥n a la columna con apply

In [13]:
df['fatal'].unique() # comprobamos que quede como esperamos

array(['Y', 'N', nan], dtype=object)

3. Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).

In [14]:
df['sex_'].unique() # vemos los valores que tenemos para "sex"

array(['F', nan, 'M', 'lli'], dtype=object)

In [15]:
def limpieza_sex(col) :
    if col != 'M' and col !='F':
        col = np.nan
    return col

In [16]:
df['sex']= df['sex_'].apply(limpieza_sex) # aplicamos apply

In [17]:
df['sex'].unique() # y vemos que nos queda como pretend√≠amos

array(['F', nan, 'M'], dtype=object)

4. Una vez que hay√°is terminado eliminad las columnas originales conservando las nuevas.

In [21]:
df.drop(['sex_','fatal_(y/n)'], axis = 1, inplace = True) # eliminamos las columnas

In [22]:
df.head()

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,injury,date,month,fatal,sex
0,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"FATAL, all onboard were killed by sharks",1800,NaN,Y,F
1,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,FATAL,Reported May-28-1797,May,Y,NaN
2,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"FATAL, PROVOKED INCIDENT",12-Sep-1792,Sep,Y,M
3,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"FATAL, ""bitten in two""",1791,NaN,Y,F
4,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"No injury to occupants, shark bit oar and rudder",10-May-1788,May,N,NaN

5. Guardad el dataframe en un csv que usaremos m√°s adelante

In [24]:
df.to_csv('attacks_pandas_7.csv')